.outer {
	max-width: 800px;
}
#big .item {
	width: 800px;
	border-radius: 3px;
	text-align: center;
	width: 100%;
	max-height: 500px;
	height: 100%;
	max-width: 800px;
}
#thumbs .item {
	background: #c9c9c9;
	height: 70px;
	line-height: 70px;
	padding: 0px;
	margin: 2px;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
#thumbs .item h1 {
	font-size: 18px;
}

.fa.fa-arrow-left,
.fa.fa-arrow-right {
	color: white;
}

#thumbs .current .item {
	border-radius: 0px;
	border-width: 1px 1px 1px 1px;
	height: 100%;
	width: 100%;
	max-width: 200px;
	max-height: 135px;
	border-color: #333;
	border-style: solid;
}
.owl-theme .owl-nav [class*='owl-'] {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
	background-color: #d6d6d6;
}
#big.owl-theme {
	position: relative;
}
#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
	background: #333;
	width: 22px;
	line-height: 40px;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	text-align: center;
	top: 50%;
}
#big.owl-theme .owl-prev {
	left: 10px;
}
#big.owl-theme .owl-next {
	right: 10px;
}
#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
	background: #333;
}

.sh_nmr {
	width: 100%;
	height: 80px;
}

.phone_btn {
	width: 100%;
	height: 80px;
}

.slider-wrapper.axis-horizontal {
	height: 500px;
}
